/* ============================================
     GLOBAL SETTINGS
   ============================================ */
:root {
  --white: rgb(255, 255, 255);
  --gray-light: rgb(242, 242, 242);
  --gray: rgb(222, 222, 222);
  --gray-dark: rgb(200, 200, 200);
  --black: rgb(0, 0, 0);
  --black-light: rgb(40, 40, 40);
  --black-lighter: rgb(100, 100, 100);
  --blue: rgb(155, 230, 253);
  --blue-dark: rgb(107, 218, 253);
  --blue-darker: rgb(3, 155, 201);
  --red: rgb(248, 137, 141);
  --red-dark: rgb(226, 26, 66);
  --orange: rgb(255, 124, 46);
  --yellow: rgb(255, 211, 48);
  --green: rgb(171, 255, 50);
  --green-light: rgb(239, 252, 236);
  --green-lighter: rgb(249, 254, 247);

  --content-max-width: 1000px;

  --border: 2px solid;
  --border-radius: 5px;

  --flex-direction: column;
  --article-date-separator: '';
  --tx-footer-flex-separator-border: var(--base-border);
  --font-size: 13px;
}

/* === XS === */
/* @media screen and (min-width: 320px) { */
/*   :root { */
/*   } */
/* } */

/* === SM === */
@media screen and (min-width: 768px) {
  :root {
    --flex-direction: row;
    --article-date-separator: '-';
    --tx-footer-flex-separator-border: 0;
    --font-size: 15px;
  }
}

/* === LG === */
/* @media screen and (min-width: 1200px) { */
/*   :root { */
/*   } */
/* } */

/* === XLG === */
/* @media screen and (min-width: 1920px) { */
/*   :root { */
/*   } */
/* } */

html {
  font-family: 'Fira Code', monospace;
  font-size: var(--font-size);
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Fira Code VF', monospace;
  }
}

/***************************
 General styles
****************************/
*:focus {
  outline-color: var(--yellow);
}

/* === links === */
a {
  color: var(--black);
  background: linear-gradient(to bottom, var(--blue) 0%, var(--blue) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 30%;
  transition: background-size 0.1s;
  text-decoration: none;
}

a.green {
  background: linear-gradient(to bottom, var(--green) 0%, var(--green) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 30%;
}

a.yellow {
  background: linear-gradient(to bottom, var(--yellow) 0%, var(--yellow) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 30%;
}

a.red {
  background: linear-gradient(to bottom, var(--red) 0%, var(--red) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 30%;
}

a:hover {
  background-size: 1px 100%;
}

a.no-transition:hover {
  background-size: 1px 30%;
}

/* === headers === */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

/* === images === */
img {
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
}

/* === section === */
section > * + * {
  margin-top: 1em;
}

/* === code === */
pre {
  padding: 1em;
  font-size: 0.9em;
  scrollbar-color: dark;
  color-scheme: dark;
  overflow-x: auto;
}

/* === highlight === */
div.highlighter-rouge {
  background-clip: border-box;
  border: var(--border) var(--black-light);
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 0px -1px var(--blue-darker);
}

code.highlighter-rouge::after {
  content: '';
  background-color: var(--yellow);
  transform: skew(-15deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

code.highlighter-rouge {
  position: relative;
}

/***************************
 Layout styles
****************************/
body {
  color: var(--black);
  background: var(--white);
  max-width: var(--content-max-width);
  padding: 0 1.5em;
  line-height: 1.4;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > * {
  margin-top: 2em;
}

body > header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 1.5em;
}

body > header > nav {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

body > main {
  width: 100%;
  flex: 1 0 auto;
}

body > main > * {
  padding: 1em 0;
}

body > main > * + * {
  margin-top: 3em;
}

body > footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 1em;
  flex-shrink: 0;
}

/***************************
 Classes
****************************/
/* === general === */
.hl-yellow {
  background-color: var(--yellow);
}

.dialog {
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--black-lighter);
  background-color: var(--gray-light);
  padding: 1em;
  font-size: 0.9em;
}

/* === intro === */
.intro h1 {
  text-align: center;
}

/* === latest posts === */
.latest-posts h1 {
  text-align: center;
}

.latest-posts ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 2em;
  justify-content: space-evenly;
}

.post-card {
  background: none;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 225px;
  width: 350px;
  gap: 0.5em;
}

.post-card footer {
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 0.5em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.post-card:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.post-card img {
  position: absolute;
  z-index: -1;
}

.post-card .title {
  font-size: 1em;
  flex-grow: 2;
  max-height: 70%;
  display: flex;
  align-items: center;
}

.post-card .date {
  font-size: 0.7em;
  color: var(--yellow);
}

/* === post === */
.post > * + * {
  margin-top: 2em;
}

.post header > * + * {
  margin-top: 0.25em;
}

.post .date {
  color: var(--black-lighter);
  padding: 0.25em;
  font-size: 0.9em;
}

.post h1 {
  font-size: 2.5em;
}

.post h2,
.post h3 {
  font-weight: 500;
}

.post h2 {
  font-size: 2em;
}

.post h3 {
  font-size: 1.5em;
}

.post header {
}

.post footer {
  margin: 1.5em;
}

.post p {
  word-break: break-word;
  overflow-wrap: break-word;
}

.post img {
  margin-top: 1em;
}
