<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>rcoedo . {{ page.title }}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/resources/favicon/favicon.ico" sizes="any" />
    <link
      rel="apple-touch-icon"
      href="/resources/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/resources/favicon/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/highlight.css" />
  </head>
  <body>
    <header>
      <div><a href="/" class="green">rcoedo</a>.</div>
      <nav>
        <div><a href="/blog/">blog</a></div>
        <div><a href="/about/">about</a></div>
        <div>
          <a href="https://matrix.to/#/@rcoedo:matrix.org" target="_blank"
            >contact</a
          >
        </div>
      </nav>
    </header>
    <main>{{ content }}</main>
    <footer>
      made with love by
      <a href="https://github.com/rcoedo" class="red">rcoedo</a>.
    </footer>
  </body>
</html>
